<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">

    <parameter name="url" value="http://www.way2automation.com/angularjs-protractor/webtables/"/>
    <parameter name="browser" value="chrome"/>

    <test name="test1">

        <parameter name="firstName" value="JJ"/>
        <parameter name="lastName" value="barboza"/>
        <parameter name="userName" value="jbarboza"/>
        <parameter name="password" value="123"/>
        <parameter name="customer" value="Company AAA"/>
        <parameter name="roleId" value="Admin"/>
        <parameter name="email" value="juanba@gmail.com"/>
        <parameter name="mobilePhone" value="8888"/>

        <classes>
            <class name="com.tests.AddUserTC"/>
        </classes>
    </test>

    <test name="test2">
        <parameter name="userName" value="novak"/>
        <classes>
            <class name="com.tests.DeleteUserTC"/>
        </classes>
    </test>

</suite>